.landingMain {
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
}

.appHeader {
  height: 250px;
  width: 100%;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.appHeading {
  margin-top: 0px;
  color: white;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

.inputField {
  padding-left: 20px;
  width: 400px;
  height: 50px;
  font-size: 18px;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.searchButton {
  background-color: black;
  border: none;
  width: 50px;
  height: 52px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.ant-card.detailsLayout {
  background-color: white;
  width: 100%;
  z-index: 1000;
  margin-top: 40px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 15px;
  padding: 1%;
  text-align: left;
}

.ant-col {
  padding-left: 30px;
  padding-right: 80px;
}
.ant-col.sep {
  border-left: solid;
  border-left-width: 2px;
  border-color: hsl(0, 1%, 82%);
}
.detailsHeading {
  font-size: 10px;
  font-weight: bold;
  color: hsl(0, 0%, 59%);
  letter-spacing: 2px;
}
.detailsBody {
  font-size: 24px;
  font-weight: bolder;
}
.ant-space.ant-space-vertical {
  gap: 0px !important;
}
@media (max-width: 475px) {
  .appHeader {
    padding-top: 200px;
    height: 300px;
  }
  .inputField {
    width: 250px;
    height: 50px;
  }
  .ant-card.detailsLayout {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 9%;
    margin-right: 9%;
  }
  .ant-card.ant-card-body.detailsLayout {
    padding: 0px;
  }
  .ant-col {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
  }
  .ant-col.sep {
    border: none;
  }
  .detailsBody {
    font-size: 2.6vh;
  }
}
